@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#excuse {
    font-size: 2rem;
    font-weight: bold;
    color: #d9534f;
}